$primary-color: #f02d34;
$bg-color: white;

.wrapper {
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    /* will-change: transform; */
    transition: all 1s ease-in-out;
}

.container {
    height: 100vh;
    width: 600px;
    background-color: $bg-color;
    float: right;
    padding: 40px 10px;
    position: relative;

    @media screen and (max-width:800px) {
        width: 415px;
        padding: 4px;
    }
}

.cartHeading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    gap: 2px;
    margin-left: 10px;
    border: none;
    background-color: transparent;

    @media screen and (max-width:800px) {
        margin-top: 35px;
    }
}

.heading {
    margin-left: 10px;

}

.numItems {
    margin-left: 10px;
    color: $primary-color;
}

.cartEmpty {
    margin: 40px;
    text-align: center;

    h3 {
        font-weight: 600;
        font-size: 20px;
    }
}

.btn {
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: $primary-color;
    color: $bg-color;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.1, 1.1);
    }

}