$bgColor: #f02d34;
$colorWhite: #fff;

.container {
    padding: 100px 40px;
    background-color: $bgColor;
    border-radius: 15px;
    position: relative;
    height: 400px;
    line-height: 1;
    color: $colorWhite;
    width: 100%;
    margin-top: 120px;

    @media screen and (max-width:800px) {
        height: 560px;
        margin-top: 80px;
    }
}

.description {
    display: flex;
    justify-content: space-between;

    button {
        border-radius: 15px;
        padding: 10px 16px;
        background-color: $colorWhite;
        color: $bgColor;
        border: none;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }

    @media screen and (max-width:800px) {
        flex-wrap: wrap;
        gap: 20px;
    }

}

.left {

    p {
        margin: 18px;

        @media screen and (max-width:800px) {
            margin: 18px;
        }
    }

    h3 {
        font-weight: 900;
        font-size: 80px;
        margin-left: 25px;

        @media screen and (max-width:800px) {
            font-weight: 900;
            font-size: 50px;
            margin-left: 5px;
        }
    }
}

.right {
    line-height: 1.4;

    h3 {
        font-weight: 800;
        font-size: 60px;

        @media screen and (max-width:800px) {
            font-size: 45px;
        }
    }

    p {
        font-size: 18px;

        @media screen and (max-width:800px) {
            font-size: 18px;
        }
    }
}

.footerImg {
    position: absolute;
    /* top: -35%;
  left: 8%; */
    top: -25%;
    left: 25%;

    @media screen and (max-width:800px) {
        width: 50%;
        left: 14%;
        top: 6%;
        height: 56%
    }

    @media screen and (max-width:540px) {
        width: 60%;
        left: 35%;
        top: 4%;
        height: 44%;
    }
}